<div class="container mt-5 py-4">

    <!-- Services Content -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <h1 class="services-title mb-4">To Heal is to flourish</h1>
        </div>
        <div class="col-md-6">
            <p class="service-description mb-5">
                Dive deep into your inner world to heal yourself in ways you never thought
                possible. At Aitchnaut, we believe in making lasting changes by helping you
                confront and overcome your limiting beliefs. Our practices and ideas are
                designed to nourish your soul and guide you on a transformative journey
                towards healing and personal growth. Embrace the opportunity to explore
                the depths of your being and unlock the power within you to truly thrive.
            </p>
        </div>
    </div>
    <!-- Service Cards -->
    <div class="row g-4 mb-5">
        <div class="col-md-6">
            <div class="service-card p-0">
                <img src="https://images.squarespace-cdn.com/content/v1/663a0e627fedd37778dcba19/1715086119041-BOLX5642AATJJGIZ6YAK/image-asset.jpeg?format=1500w"
                    alt="Ayurvedic Self-care practices" class="mb-4">
                <div class="p-4">
                    <h3 class="service-card-title">Ayurvedic Self-care practices</h3>
                    <p class="service-card-text mb-4">
                        Prakriti assessment with an Ayurvedic doctor. Learn customised self-care practices based on your
                        location.
                    </p>
                    <button class="btn btn-coming-soon">Coming soon</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="service-card p-0">
                <img src="https://images.squarespace-cdn.com/content/v1/663a0e627fedd37778dcba19/1715086229702-OQG8JVSRCQZ03IOFUMM2/image-asset.jpeg?format=1500w"
                    alt="Self analysis for healing your chakra" class="mb-4">
                <div class="p-4">
                    <h3 class="service-card-title">Self analysis for healing your chakra</h3>
                    <p class="service-card-text mb-4">
                        Join me to unlock your chakras. We'll find the root cause of your problems and tackle limiting
                        beliefs so you can work to your full potential. Deep self-analysis awaits.
                    </p>
                    <button class="btn btn-coming-soon">Coming soon</button>
                </div>
            </div>
        </div>
    </div>
</div>