<div class="container  mt-5 py-4">

    <!-- About Content -->
    <div class="about-section">
      <h1 class="about-name">About Me</h1>
      <div class="about-description">
        <p class="mb-4">
          I’m a guide, space-holder, and intuitive facilitator of healing.
        </p>
        <p class="mb-4">
          Rooted in the wisdom of Ayurveda and Integral Chakra Psychology, I support growth-oriented
          individuals in reconnecting with their inner truth. As a health coach, I help people identify and
          release limiting belief patterns, and cultivate healthier, more empowering belief systems.
        </p>
        <p class="mb-4">
          My approach is grounded in radical self-acceptance.
        </p>
        <p class="mb-4">
          When people feel emotionally, mentally, or energetically stuck, I gently guide them to uncover
          the deeper roots beneath the surface. Whether it’s a blocked pattern, unprocessed emotion, or a
          disconnection from intuition, we work together to create space for clarity, alignment, and
          empowered forward movement.

        </p>
        <!-- <p>
          Today, I hold space for others walking their own paths — blending ancient
          wisdom, intuitive coaching, and energy work to support holistic, lasting growth.
          You already hold the answers.
          I simply help you remember.
        </p> -->
      </div>
    </div>

    <div class="gallery mb-5">
      <h1>Certifications</h1>
      <div class="image-grid">
        <div class="image-item" *ngFor="let img of images">
          <img [src]="img" alt="Gallery image" (click)="openLightbox(img)">
        </div>
      </div>
    </div>
    <!-- Hero Section -->
    <div class="hero-section">
      <div class="hero-content">
        <h2 class="hero-title">Discover Your Inner Strength</h2>
        <a  class="btn btn--primary" routerLink="/services">View services</a>
      </div>
    </div>

  </div>


  <!-- Lightbox -->
  <div class="lightbox" *ngIf="lightboxOpen" (click)="closeLightbox()">
    <span class="close" (click)="closeLightbox()">&times;</span>
    <img [src]="currentImage" class="lightbox-content">
  </div>
