<div class="container py-4">

    <!-- About Content -->
    <div class="about-section">
      <h1 class="about-name">Himanjali</h1>
      <div class="about-description">
        <p class="mb-4">
          I blend science and ancient wellness practices to empower individuals on their
          journey to optimal health. My qualifications include a BSc in Biotechnology with a
          research focus from Shiv Nadar University, an MSc in Life Sciences specializing in
          Ayurvedic Biology, and comprehensive training from the Institute of Integrative
          Nutrition's Health Coach Training program.
        </p>
        <p>
          I am also certified in Emo-Energy Balancing, headhway Level 1, and Chakra
          Healing Level 1 from the Yog Psychology Foundation in Mumbai. I believe in the
          human potential to accelerate one's own healing and live life to their full potential
          by changing their belief system.
        </p>
      </div>
    </div>
    <!-- Hero Section -->
    <div class="hero-section">
      <div class="hero-content">
        <h2 class="hero-title">Discover Your Inner Strength</h2>
        <a  class="btn btn-view-services" routerLink="/services">View services</a>
      </div>
    </div>

  </div>