<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row  ">
            <div class="col-lg-3 col-md-6  mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="">About Us</h2>
                    <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the
                        blind texts.</p> -->
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
                        <li ><a href="https://www.instagram.com/higherliving03/" target="_blank"><span class="icon-instagram"></span></a></li>
                        <li ><a href="https://www.linkedin.com/in/himanjali-d-b92959274/" target="_blank"><span class="icon-linkedin"></span></a></li>
                        <li ><a href="https://www.youtube.com/@higherliving03" target="_blank"><span class="icon-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
            <!-- blog-list.component.html -->
            <div class="col-lg-6 col-md-6 mb-5 mb-md-5" *ngIf="blogs.length">
                <div class="mb-4">
                    <h2 class="ftco--2">Recent Blog</h2>

                    <div class="block-21 mb-4 d-flex" *ngFor="let blog of blogs | slice:0:3">
                        <a class="blog-img mr-4" [ngStyle]="{ 'background-image': 'url(' + blog.image + ')' }"></a>
                        <div class="text">
                            <h3 class="heading">
                                <a [routerLink]="['/blog', blog.url]">{{ blog.title }}</a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <a href="#"><span class="icon-calendar"></span> {{ blog.date }}</a>
                                </div>
                                <div>
                                    <a href="#"><span class="icon-person"></span> {{ blog.author }}</a>
                                </div>
                                <div>
                                    <a href="#"><span class="icon-chat"></span> {{blog.comments}}</a> <!-- or dynamic comment count -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Cooked</a></li>
                        <li><a href="#" class="py-2 d-block">Deliver</a></li>
                        <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
                        <li><a href="#" class="py-2 d-block">Mixed</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class=" mb-4">
                    <!-- <div class="clearfix"></div> -->
                    <div class="block-23 mb-3 mt-5">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Dehradun,
                                    India</span></li>
                            <!-- <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929
                                        210</span></a>
                            </li> -->
                            <li><a href="mailto:higherliving003@gmail.com"><span class="icon icon-envelope"></span><span
                                        class="text">higherliving003&#64;gmail.com
                                    </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    {{year}} All rights reserved | Made with <i
                        class="icon-heart" aria-hidden="true"></i> by Team <a href="https://www.linkedin.com/in/himanjali-d-b92959274/"
                        target="_blank">Himanjali</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>