<!-- Banner Section -->
<section class="hero" style="background-image: url(images/hero_bg.jpeg);">
  <div class="hero__overlay"></div>
  <div class="hero__content container">
    <h1 class="hero__quote">Your present circumstances don’t determine where you can go; they merely determine where you
      start. Your choices make all the difference.</h1>
      <p>- Nido Qubein </p>
    <a routerLink="/services" class="btn btn--primary">Make your choice</a>
  </div>
</section>

<!-- About Section -->
<section class="about ">
  <div class="about__image" style="background-image: url('images/hero_img.jpg');"></div>
  <div class="about__text">
    <div class="overlay">
      <h2 class="section-title text-light">About Me</h2>
      <p>I’m a guide, space-holder, and intuitive facilitator of healing.
        Rooted in the wisdom of Ayurveda and Integral Chakra Psychology, I support growth-oriented
        individuals in reconnecting with their inner truth. As a health coach, I help people identify and
        release limiting belief patterns, and cultivate healthier, more empowering belief systems.
        My approach is grounded in radical self-acceptance.
        When people feel emotionally, mentally, or energetically stuck, I gently guide them to uncover
        the deeper roots beneath the surface. Whether it’s a blocked pattern, unprocessed emotion, or a
        disconnection from intuition, we work together to create space for clarity, alignment, and
        empowered forward movement
      </p>

    </div>
  </div>
</section>

<!-- Services Section -->
<section class="services container">
  <h2 class="section-title text-center">Work With Me</h2>
  <p class="section-subtitle text-center">Step into alignment with your soul’s journey...</p>
  <div class="services__grid ">
    <div class="service-card">
      <div class="service-card__img" style="background-image: url('images/service1.jpg');"></div>
      <div class="service-card__content">
        <h3>Yogic Coaching for Psychosomatic Healing</h3>
        <p>A 60-minute 1:1 session which is designed for those at a turning point — feeling stuck in emotional patterns, creative blocks, or spiritual fatigue. Through a mind-body-spirit approach rooted in yogic philosophy, we’ll explore what’s holding you back and help you move forward with clarity, grounding, and self-trust.</p>
        <div class="service-card__footer">
          <a routerLink="/services">Read more</a>
          <button   (click)="bookItem()" class="btn btn--outline">Book a session</button>
        </div>
      </div>
    </div>
    <div class="service-card">
      <div class="service-card__img" style="background-image: url('images/service2.jpg');"></div>
      <div class="service-card__content">
        <h3>Mind-Body Reset: 4-Week Burnout & Emotional Release Program
        </h3>
        <p>A 4-week 1:1 program designed to release burnout and restore balance through chakra healing, Ayurvedic guidance, nervous system support, yoga, and personalized tools — plus ongoing support and a bonus tarot reading.</p>
        <div class="service-card__footer">
          <a routerLink="/services">Read more</a>
          <a routerLink="/contact" class="btn btn--outline">Work with me</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="blogs container mt-5" *ngIf="blogs.length">
  <h2 class="section-title text-center">Recent from Blog</h2>
  <div class="blogs__grid">
    <div class="blog-card" *ngFor="let blog of blogs | slice:0:3"
      [ngStyle]="{ 'background-image': 'url(' + blog.image + ')' }">
      <div class="blog-card__content">
        <p class="blog-meta">{{ blog.date }} | {{ blog.author }} | {{ blog.comments }} Comments</p>
        <h4>{{ blog.title }}</h4>
        <p>{{ blog.title }}</p>
        <a [routerLink]="['/blog', blog.url]" class="btn btn--outline">Read More</a>
      </div>
    </div>
  </div>
</section> -->


<!-- Testimonials Section -->
<section class="testimonials mt-5 mb-5">
  <div class="testimonials__overlay"></div>
  <!-- <div class="container"> -->
  <h2 class="section-title text-center">Client Testimonials</h2>
  <p class="text-light text-center">What our clients say about our healing journeys.</p>
  <div id="github-carousels" class="carousel"></div>
  <!-- </div> -->
</section>